@model StellerAcunMedyaAkademiPortfolio.Models.TBL_Testimonial 
@{
    ViewBag.Title = "UpdateTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<html>
<head>
    <title>CSHTML'e CSS Ekleme</title>
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet1.css">
</head>
<body>


    <h3>Referans Güncelleme</h3>

    <br />


    <form method="post">

        <input type="hidden" name="TestimonialId" value="@Model.TestimonialId" />
        <br />
        

        <input id="input" type="text" required name="ImageUrl" value="@Model.ImageUrl" />
        <label for="input" alt="Resim Linkini Giriniz" placeholder="Resim Linki "></label>
        <br />
        <input id="input" type="text" required name="NameSurname" value="@Model.NameSurname" />
        <label for="input" alt="Ad Soyad Giriniz" placeholder="Ad Soyad "></label>
        <br />
        <input id="input" type="text" required name="Title" value="@Model.Title" />
        <label for="input" alt="Unvan Giriniz" placeholder="Unvan "></label>
        <br />
        <input id="input" type="text" required name="Description" value="@Model.Description" />
        <label for="input" alt="Açıklama Giriniz" placeholder="Açıklama "></label>



        <br />


        <button class="btn btn-outline-primary">Güncelle</button>

    </form>

</body>
</html>

